.postform{
    position: relative;
    width: 100%;
    height: 155px;
    margin-top: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
}

.thumbimgset {
    width: 140px;
    height: 140px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
}

.postinfobox {
    display: inline-block;
    position: absolute;
    margin-left: 8px;
    width: calc(100% - 158px);
    height: 150px;
}

.posttitle {
    width: auto;
    height: 29px;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    word-break: break-all;
}

.postbody {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 85px;
    overflow: auto;
    font-family: 'Nanum Gothic', sans-serif;
    word-break: break-all;
}

.postdate {
    display: inline;
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9c9c9c;
    float: left;
}

.openpost{
    width: auto;
    height: auto;
    text-decoration: none;
    color: #000000;
}

.postbemil {
    display: inline;
    float: right;
    margin: 0px;
}

.delpost {
    position: absolute;
    top: 115px;
    left: 330px;
}