.searchthumbimgset {
    width: 60px;
    height: 60px;
    border-width: 1px;
    margin: 5px;
    border-style: solid;
}

.searchID {
    margin-left: 10px;
}

.searchtitle {
    word-break: break-all;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
}

.searchleft {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.searchright {
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-between;
}

.searchdelbutton{
    width: 90px;
    height: 30px;
    font-size: small;
    margin-right: 5px;
}