.middler_con {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: auto;
    min-height: calc(100% - 60px);
}

.middler_con .midwrapper {
    background-color: rgb(250, 250, 250);
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
    height: auto;
    min-height: 100%;
}
