.uploadcomment {
    display: flex;
    flex-direction: column;
}

#uploademail {
    margin-bottom: 5px;
    width: auto;
    max-width: 300px;
}

#uploadcomment {
    height: 270px;
    margin-bottom: 5px;
    resize: none;
}

.commentsecretform {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comminline {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.commentsubmit {
    margin-top: 5px;
    margin-bottom: 5px;
}