.postwrapper {
    display: absolute;
    height: 100%;
    width: calc(100% - 120px);
    margin-right: 60px;
    margin-left: 60px;
}

.posttop{
    margin-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
    margin-top: 0px;
    margin-bottom: 3px;
}

.postbackbutton {
    color: #9c9c9c;
    text-decoration: none;
}

.postopentitle {
    font-size: 40px;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 3px;
    word-break: break-all;
}


.viewsanddate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postviews {
    margin-top: 3px;
    margin-bottom: 3px;
    float: right;
    color: #9c9c9c;
}

.postuploaddate {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #9c9c9c;
}

.postmiddle {
    word-break: break-all;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
}

.postbottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.postcommentform {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 80px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
    margin-bottom: 5px;
}

.commenthead {
    margin: 0px;
    min-width: 160px;
    width: auto;
}

.commentemail {
    display: block;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

.commentdate {
    display: block;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment {
    width: 100%;
    margin: 0px;
    margin-left: 10px;
}

.commentbody {
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: calc( 100% - 10px );
    word-break: break-all;
}

.controltopbutton {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.controlcombutton {
    width: 70px;
}