.Morepagewrapper {
    width: calc(100% - 30px);
    margin-right: 15px;
    margin-left: 15px;
}

.Moretopbar {
    width: 100%;
    height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
}

.Morestyle {
    position: absolute;
    margin-top: 10px;
}