.searchwrapper {
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.searchcounttop {
    display: flex;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
}

.searchcount {
    margin-top: 13px;
}

.searchbody {
    display: flex;
    flex-direction: column;
}