.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom-width: 0.5px;
    border-bottom-style: dotted;
}

.header .hdwrapper {
    position: absolute;
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.explain_container {
    position: absolute;
    width: 20%;
    height: 100%;
}

.logo {
    float: left;
    height: 100%;
    width: 35px;
}

.banner {
    top: 10px;
    left: 45px;
    position: absolute;
    margin: 0px;
    height: auto;
    width: auto;
}

.search_container {
    position: absolute;
    left: 20%;
    width: 45%;
    height: 100%;
}

.search_form {
    position: absolute;
    width: 100%;
    height: 100%;
}

.textbox {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 115px);
    height: 30px;
}

.buttonbox {
    float: right;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
}

.navbar_container {
    position: absolute;
    left: 65%;
    width: 35%;
    height: 100%;
}

.rightset {
    position: relative;
    float: right;
    width: auto;
    height: 40px;
}

.nav_b {
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
}

.astyle {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 700px) {
    .search_container {
        display: none;
    }
    .navbar_container {
        width: 150px;
    }
}